service ril-daemon2 /vendor/bin/hw/rild -c 2
    class main
    user radio
    disabled
#SSD_RIL++
    #add system for qcril.db and for uio device for smlog
    #add carrier permission for htcril.db
    group radio cache inet misc audio log readproc wakelock oem_2901 system oem_5011
#SSD_RIL--
    capabilities BLOCK_SUSPEND NET_ADMIN NET_RAW

on property:persist.radio.multisim.config=dsds
    enable ril-daemon2